/* === Global Corporate Blue UI === */

body {
  background: #f3f6fa;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.page-container {
  max-width: 720px;
  margin: auto;
  background: white;
  margin-top: 40px;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.10);
}

h2 {
  color: #0d6efd;
  font-weight: 600;
  margin-bottom: 25px;
}

.form-label {
  font-weight: 500;
}

input, select, textarea {
  border: 2px solid #d3dcec !important;
  border-radius: 10px !important;
  padding: 10px !important;
  transition: 0.25s;
}

input:focus {
  border-color: #0d6efd !important;
  box-shadow: 0 0 0 3px rgba(13, 110, 253, .2);
}

.btn-primary {
  background: #0d6efd;
  border-radius: 10px;
  padding: 12px 25px;
  font-weight: 500;
  transition: 0.25s;
}

.btn-primary:hover {
  background: #004bca;
  transform: translateY(-2px);
}

.blue-box {
  background: #e7f0ff;
  border-left: 6px solid #0d6efd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
}

.red-box {
  background: #fde2e4;
  border-left: 6px solid #df1b1b;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
}
